<form class="container mt-5" action="/posts/{{post.id}}" method="post">
    <h1 class="text-warning">Upload your Post</h1>
    {{>form}}
    <button type="submit" class="btn btn-primary">Edit Post</button>
    <a class="btn btn-danger" href="/posts">Cancel</a>
</form>